#detail {
  overflow-x: hidden;
  .header {
    width: 100%;
    height: 0.5rem;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: .14rem;
  }

  .logo {
    width: 0.3rem;
    height: 0.3rem;
    background-image: url("../../assets/images/da@2x.png");
    -webkit-background-size: contain;
    background-size: contain;
    margin: 0.1rem 0 0 0.15rem;
  }

  .title {
    padding-right: 1.9rem;
    line-height: 0.5rem;
  }

  .option {
    width: 0.8rem;
    line-height: 0.5rem;
    text-align: right;
    padding-right: .15rem;
    .iconfont {
      font-size: .24rem;
    }
    ul {
      text-align: left;
      padding-top: .1rem;
      li {
        padding-left: .2rem;
        font-size: .14rem;
        line-height: .34rem;
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .mint-swipe-item {
    color: #fff;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .mint-tab-item {
    margin: 0 .5rem;
    .mint-tab-item-label {
      font-size: .16rem;
      line-height: .45rem;
    }
  }
  .carMsg {
    width: 100%;
    // height: 0.5rem;
    padding: 0 .15rem;
    padding-top: .08rem;
    h4 {
      font-size: .15rem;
      color: #333333;
      line-height: .2rem;
    }
    p {
      font-size: .12rem;
      color: #e40011;
      line-height: .2rem;
    }
  }
  .plan {
    width: 100%;
    height: 1.07rem;
    max-height: 1.07rem;
    box-sizing: border-box;
    .p-tit {
      width: 100%;
      border-left: .02rem solid #e40011;
      font-size: 16px;
      color: #333333;
      margin: .1rem 0;
      padding-left: .15rem;
      line-height: .18rem;
    }
    .p-info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      text-align: center;
      padding: .1rem .3rem 0;
      p {
        font-size: .14rem;
        color: #666666;

        &:nth-last-of-type(1) {
          color: #e40011;
          font-weight: 700;
          margin-top: .08rem;
        }
      }
    }
  }
  .youhui {
    width: 100%;
    height: 0.5rem;
    padding: .1rem .22rem .1rem .15rem;
    display: flex;
    flex-flow: row nowrap;
    .yh-icon {
      border: 1px solid #e40011;
      font-size: 12px;
      color: #e40011;
      line-height: .18rem;
      width: 30px;
      height: .18rem;
      margin-top: 0.06rem;
      border-radius: .03rem;
      text-align: center;
    }
    .yh-txt {
      width: 100%;
      height: 100%;
      font-size: .14rem;
      color: #666666;
      line-height: 0.17rem;
      padding-left: 0.15rem;
    }
  }
  .product-adv {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: .1rem;
    .p-tit {
      width: 100%;
      border-left: .02rem solid #e40011;
      font-size: .16rem;
      color: #333333;
      margin: .10rem 0;
      padding-left: .15rem;
      line-height: .18rem;
    }
    .pro-info {
      display: flex;
      flex-flow: row wrap;
      padding: 0 0.6rem;
      justify-content: space-between;
      div {
        width: 1rem;
        height: 1rem;
        -webkit-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        margin: .10rem 0;
        padding-top: 0.55rem;
        font-size: .12rem;
        line-height: 0.18rem;
        text-align: center;
        color: #666666;
      }
      .yi {
        background-image: url('../../assets/images/yi@3x.png');
      }
      .di {
        background-image: url('../../assets/images/di@3x.png');
      }
      .kuai {
        background-image: url('../../assets/images/kuai@3x.png');
      }
      .quan {
        background-image: url('../../assets/images/quan@3x.png');
      }
    }
  }
  .default {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: .1rem;
    .d-tit {
      width: 100%;
      border-left: .02rem solid #e40011;
      font-size: .16rem;
      color: #333333;
      margin: .1rem 0;
      padding-left: .15rem;
      line-height: .18rem;
    }
    .d-info {
      height: 1.8rem;
      padding: 0 .3rem;
      ul {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

        li {
          display: flex;
          justify-content: space-between;
          font-size: .12rem;
          margin: .05rem 0;
          span {
            color: #888888;
          }
          i {
            color: #333333;
          }
        }
      }

    }
  }
  .adv {
    width: 100%;
    box-sizing: border-box;
    .a-tit {
      width: 100%;
      border-left: .02rem solid #e40011;
      font-size: .16rem;
      color: #333333;
      margin: .1rem 0;
      padding-left: .15rem;
      line-height: .18rem;
    }
    .a-info {
      width: 100%;
      img {
        width: 100%;

      }
      p {
        padding: 0 .16rem;
        margin: .5rem 0;
      }
    }
  }
  .footer {
    width: 100%;
    height: 0.5rem;
    position: fixed;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    z-index: 1000;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    line-height: 0.5rem;
    text-align: center;
    font-weight: 700;
    .call {
      width: 100%;
      font-size: .18rem;
      color: #333333;
      span {
        font-size: .24rem;
        color: #e40011;
        vertical-align: sub;
      }
    }
    .appointment {
      width: 2.5rem;
      min-width: 2.5rem;
      background-color: #e40011;
      color: #fff;
      font-size: .18rem;

    }
  }
}
