#home .filter {
  width: 100%;
  height: 1.08rem;
  border-bottom: 1px solid #e5e5e5;
}
#home .filter .filter_list {
  width: 100%;
  height: 100%;
  padding: .15rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#home .filter .filter_list .color {
  color: #e40011;
}
#home .filter .filter_list img {
  width: .2rem;
  vertical-align: text-bottom;
  margin: 0 .05rem;
}
#home .filter .filter_list .nomargin {
  margin: 0;
  vertical-align: middle;
}
#home .filter .filter_list li {
  width: 25%;
  text-align: center;
}
#home .car_list .mu-tabs {
  border-bottom: 1px solid #e5e5e5;
}
#home .car_list .mu-tabs .mu-tab-link {
  width: .5rem;
  max-height: 0.45rem;
  min-height: 0.45rem;
  background-color: #fff;
  font-size: .17rem;
  font-weight: 700;
  padding: .12rem .1rem;
  color: #000000;
}
#home .car_list .mu-tabs .mu-tab-link .line {
  height: .03rem;
  width: 0.5rem;
}
#home .car_list .newcarMsg {
  width: 100%;
  height: auto;
}
#home .car_list .newcarMsg .car_msg {
  width: 100%;
  height: 1.1rem;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  padding-left: .15rem;
}
#home .car_list .newcarMsg .car_msg .carImg {
  width: 0.8rem;
  height: 0.7rem;
  margin: .2rem .2rem 0 0;
  position: relative;
}
#home .car_list .newcarMsg .car_msg .carImg img {
  height: 100%;
}
#home .car_list .newcarMsg .car_msg .carImg .yhImg {
  position: absolute;
  display: block;
  width: .3rem;
  height: .3rem;
  top: 0;
  left: 0;
  background: url("../../assets/images/youhui_s@2x.png") no-repeat;
  background-size: .3rem;
}
#home .car_list .newcarMsg .car_msg .car_detailed {
  padding-top: 0.1rem;
}
#home .car_list .newcarMsg .car_msg .car_detailed h4 {
  font-size: .17rem;
  line-height: .27rem;
  margin: 0;
  font-weight: 700;
}
#home .car_list .newcarMsg .car_msg .car_detailed p {
  font-size: .14rem;
  line-height: .23rem;
  margin: 0;
  font-weight: bold;
  width: 2.38rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}
#home .car_list .newcarMsg .car_msg .car_detailed span {
  font-size: .12rem;
  line-height: .22rem;
  margin: 0;
  color: #666666;
  display: block;
}
#home .car_list .newcarMsg .car_msg .car_detailed i {
  font-size: .12rem;
  margin: 0;
  color: #e40011;
  display: block;
}
#home .car_list .usedcarMsg .car_msg {
  width: 100%;
  height: 1.1rem;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  padding-left: .15rem;
}
#home .car_list .usedcarMsg .car_msg .carImg {
  width: 0.8rem;
  height: 0.7rem;
  margin: .2rem .2rem 0 0;
  position: relative;
}
#home .car_list .usedcarMsg .car_msg .carImg img {
  height: 100%;
}
#home .car_list .usedcarMsg .car_msg .carImg .yhImg {
  position: absolute;
  display: block;
  width: .3rem;
  height: .3rem;
  top: 0;
  left: 0;
  background: url("../../assets/images/youhui_s@2x.png") no-repeat;
  background-size: .3rem;
}
#home .car_list .usedcarMsg .car_msg .car_detailed {
  padding-top: 0.1rem;
}
#home .car_list .usedcarMsg .car_msg .car_detailed h4 {
  font-size: .17rem;
  line-height: .27rem;
  margin: 0;
  font-weight: 700;
}
#home .car_list .usedcarMsg .car_msg .car_detailed p {
  font-size: .14rem;
  line-height: .23rem;
  margin: 0;
  font-weight: bold;
  width: 2.38rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}
#home .car_list .usedcarMsg .car_msg .car_detailed span {
  font-size: .12rem;
  line-height: .22rem;
  margin: 0;
  color: #666666;
  display: block;
}
#home .car_list .usedcarMsg .car_msg .car_detailed i {
  font-size: .12rem;
  margin: 0;
  color: #e40011;
  display: block;
}
