.header {
  width: 100%;
  height: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  padding: .1rem .15rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.header .searchIpt {
  width: 3rem;
  height: 0.3rem;
  background-color: #f3f3f3;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
}
.header .searchIpt .dropdown {
  margin-top: .08rem;
  width: 0.65rem;
  padding-left: .08rem;
  height: 0.15rem;
  border-right: 1px solid #999999;
  line-height: 0.17rem;
  position: relative;
}
.header .searchIpt .dropdown i {
  font-size: .14rem;
}
.header .searchIpt .dropdown span {
  font-size: .12rem;
  position: absolute;
  right: .04rem;
}
.header .searchIpt .dropdown .dropdownList {
  position: relative;
  top: .12rem;
  left: -0.09rem;
  width: 0.5rem;
  height: 0.6rem;
  background-color: #070002;
  z-index: 1024;
}
.header .searchIpt .dropdown .dropdownList a {
  display: block;
  width: 100%;
  height: 0.3rem;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 0.3rem;
}
.header .searchIpt .dropdown .dropdownList .d-line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.header .searchIpt .dropdown .dropdownList .jian {
  width: 0;
  height: 0;
  border-width: 0 .06rem .06rem;
  border-style: solid;
  border-color: transparent transparent #070002;
  position: absolute;
  top: -6px;
  left: 18px;
}
.header .searchIpt input {
  background-color: #f3f3f3;
  width: 2.35rem;
  height: .3rem;
  padding-left: .05rem;
  font-size: .14rem;
}
.header .searchIpt input::placeholder {
  font-size: .14rem;
  line-height: 1.5em;
}
.header .cancel {
  text-align: right;
  line-height: 0.3rem;
}
.hot {
  padding: 0 .15rem;
}
.hot h3 {
  font-size: .12rem;
  color: #666666;
  margin: .15rem 0;
  margin-bottom: 0;
}
.hot .hotList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.hot .hotList div {
  width: .6rem;
  height: .3rem;
  background-color: #f3f3f3;
  line-height: .3rem;
  text-align: center;
  border-radius: .06rem;
  margin-top: 0.1rem;
}
