#youhui .filter {
  width: 100%;
  height: 0.42rem;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-flow: row nowrap;
  padding: .1rem .15rem;
  position: relative;
}
#youhui .filter div {
  width: 25%;
  font-size: .14rem;
  color: #333333;
  text-align: center;
  line-height: .24rem;
}
#youhui .filter div .icon-down {
  font-size: .1rem;
}
#youhui .filter div .icon-filter {
  font-weight: 700;
  color: #000;
}
#youhui .filter .red {
  color: #e40011;
}
#youhui .filter .def {
  text-align: left;
}
#youhui .filter .def .rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#youhui .filter .all {
  text-align: right;
}
#youhui .filter .mint-popup-top {
  width: 100vw;
  height: 3.5rem;
  top: 0.92rem;
}
#youhui .filter .active {
  background-color: #FACCCF;
  color: #e40011;
  border: 1px solid #e40011;
}
#youhui .icon-duigou {
  margin-right: 0.2rem;
  font-weight: 700;
  float: right;
}
#youhui .layout {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0.92rem;
  left: 0;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.3);
}
#youhui .layout .deflist,
#youhui .layout .carBrand {
  z-index: 10;
  width: 100vw;
  height: 3.5rem;
  background-color: #fff;
  position: absolute;
  left: 0;
  padding-left: 0.15rem;
  border-bottom: 1px solid #e5e5e5;
}
#youhui .layout .deflist .icon-duigou,
#youhui .layout .carBrand .icon-duigou {
  color: #ffffff;
}
#youhui .layout .deflist .redduigou,
#youhui .layout .carBrand .redduigou {
  color: #e40011;
}
#youhui .layout .deflist li,
#youhui .layout .carBrand li {
  height: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  line-height: 0.5rem;
}
#youhui .layout .deflist img,
#youhui .layout .carBrand img {
  width: 0.25rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}
#youhui .layout .deflist .v-modal,
#youhui .layout .carBrand .v-modal {
  top: 100px;
}
#youhui .layout .payBox {
  z-index: 10;
  width: 100vw;
  height: 1.26rem;
  background-color: #fff;
  padding: 0.15rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
#youhui .layout .payBox li {
  width: 1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  font-size: 0.14rem;
  color: #666666;
  background-color: #f3f3f3;
}
#youhui .layout .payBox .f-active {
  background-color: #FACCCF;
  color: #e40011;
  border: 1px solid #e40011;
}
#youhui .carBrand {
  overflow-y: auto;
  z-index: 10;
  width: 100vw;
  height: 3.5rem;
  background-color: #fff;
  position: absolute;
  top: 0.92rem;
  left: 0;
  padding-left: 0.15rem;
  border-bottom: 1px solid #e5e5e5;
}
#youhui .carBrand .icon-duigou {
  color: #ffffff;
}
#youhui .carBrand .redduigou {
  color: #e40011;
}
#youhui .carBrand li {
  height: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  line-height: 0.5rem;
}
#youhui .carBrand img {
  width: 0.25rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}
#youhui .carBrand .v-modal {
  top: 100px;
}
#youhui .car_msg {
  width: 100%;
  height: 1.1rem;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  padding-left: 15px;
}
#youhui .car_msg .carImg {
  width: 0.8rem;
  height: 0.7rem;
  margin: .2rem .2rem 0 0;
  position: relative;
}
#youhui .car_msg .carImg img {
  height: 100%;
}
#youhui .car_msg .carImg span {
  position: absolute;
  display: block;
  width: .3rem;
  height: .3rem;
  top: 0;
  left: 0;
  background: url("../../assets/images/youhui_s@2x.png") no-repeat;
  background-size: .3rem;
}
#youhui .car_msg .car_detailed {
  padding-top: 0.1rem;
}
#youhui .car_msg .car_detailed h4 {
  ont-size: 0.17rem;
  line-height: 0.27rem;
  margin: 0;
  font-weight: 700;
}
#youhui .car_msg .car_detailed p {
  font-size: .14rem;
  line-height: .23rem;
  margin: 0;
  font-weight: bold;
  width: 2.38rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}
#youhui .car_msg .car_detailed span {
  font-size: .12rem;
  line-height: .22rem;
  margin: 0;
  color: #666666;
  display: block;
}
#youhui .car_msg .car_detailed i {
  font-size: .12rem;
  margin: 0;
  color: #e40011;
  display: block;
}
#youhui .mint-popup {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transform: none;
  transform: none;
  z-index: 144;
  padding-bottom: .5rem;
}
#youhui .mint-popup .all-header {
  width: 100%;
  height: 0.5rem;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  line-height: .5rem;
  z-index: 15;
}
#youhui .mint-popup .all-header .a-h-left {
  width: .5rem;
  height: .5rem;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: .16rem;
}
#youhui .mint-popup .all-header .a-h-left span {
  font-size: .2rem;
}
#youhui .mint-popup .all-header .a-h-midden {
  margin: 0 0.5rem;
  height: .5rem;
  text-align: center;
  font-size: .17rem;
}
#youhui .mint-popup .all-header .a-h-right {
  width: .5rem;
  height: .5rem;
  position: absolute;
  right: 0;
  top: 0;
  font-size: .14rem;
  color: #e40011;
  text-align: center;
}
#youhui .mint-popup .all-body {
  margin-top: .5rem;
}
#youhui .mint-popup .all-body .a-b-price {
  height: 1.23rem;
  border-bottom: 1px solid #e5e5e5;
}
#youhui .mint-popup .all-body .a-b-type {
  width: 100%;
  height: 2.14rem;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0.15rem;
}
#youhui .mint-popup .all-body .a-b-type .title {
  height: .45rem;
  line-height: .45rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: .15rem;
}
#youhui .mint-popup .all-body .a-b-type .list {
  height: 1.69rem;
  font-size: .14rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-bottom: .15rem;
  text-align: center;
}
#youhui .mint-popup .all-body .a-b-type .list .active {
  background-color: #FACCCF;
  color: #e40011;
  border: 1px solid #e40011;
}
#youhui .mint-popup .all-body .a-b-type .list li {
  width: 1rem;
  height: .7rem;
  background-color: #f3f3f3;
}
#youhui .mint-popup .all-body .a-b-type .list li img {
  width: 1rem;
  padding: .17rem;
  padding-bottom: 0;
}
#youhui .mint-popup .all-body .a-b-pay,
#youhui .mint-popup .all-body .a-b-payMonthly {
  height: 1.54rem;
  border-bottom: 1px solid #cccccc;
  padding: 0 0.15rem;
}
#youhui .mint-popup .all-body .a-b-pay .title,
#youhui .mint-popup .all-body .a-b-payMonthly .title {
  height: .45rem;
  line-height: .45rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: .15rem;
}
#youhui .mint-popup .all-body .a-b-pay .list,
#youhui .mint-popup .all-body .a-b-payMonthly .list {
  height: 1.09rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-bottom: .15rem;
  text-align: center;
  border: 0;
}
#youhui .mint-popup .all-body .a-b-pay .list .active,
#youhui .mint-popup .all-body .a-b-payMonthly .list .active {
  background-color: #FACCCF;
  color: #e40011;
  border: 1px solid #e40011;
}
#youhui .mint-popup .all-body .a-b-pay .list li,
#youhui .mint-popup .all-body .a-b-payMonthly .list li {
  width: 1rem;
  height: .4rem;
  line-height: .4rem;
  background-color: #f3f3f3;
}
#youhui .mint-popup .all-body .a-b-payMonthly {
  border: 0;
}
#youhui .mint-popup .all-footer {
  z-index: 15;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#youhui .mint-popup .all-footer p {
  width: 2.5rem;
  background-color: #fff;
  text-align: center;
  line-height: .5rem;
  font-size: .17rem;
  color: #333333;
  border-top: 1px solid #cccccc;
}
#youhui .mint-popup .all-footer button {
  width: 1.26rem;
  height: .5rem;
  background-color: #e40011;
  color: #ffffff;
  font-size: .17rem;
  line-height: .5rem;
  text-align: center;
}
